<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Notes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Notes</ion-title>
        </ion-toolbar>
      </ion-header> 
    <div v-for="(note, index) in notes" :key="index">
        <View :title="note.topic" :subtitle="note.subTopic" :content="note.content" :color="note.color"/>
      </div>
    </ion-content>
  </ion-page>
</template>
<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
import View from '@/components/View.vue';
import {Note, useData} from '../api/db';

export default {
    components: {
        View,
        IonPage,
        IonHeader,
        IonToolbar,
        IonTitle,
        IonContent
    },
    data() {
        return {
            notes: []
        };
    },
    mounted() {
        this.getNotes();
    },
    methods: {
        randomColor() {
            const classes = ["primary", "secondary", "secondary", "success", "warning", "danger", "light", "medium", "dark"];
            const randomIndex = Math.floor(Math.random() * classes.length);
            return classes[randomIndex];
        },
        async getNotes() {
            try {
                const { getCollection } = useData();
                const notes = await getCollection();
                this.notes = notes.map((note) => ({
                    ...note,
                    color: this.randomColor()
                }));
            } catch (error) {
                alert(error);
            }
        }
    }
}
</script>

