<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="create" href="/notes/create">
          <ion-icon aria-hidden="true" :icon="icons['create']" />
          <ion-label>Create</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="view" href="/notes/view">
          <ion-icon aria-hidden="true" :icon="icons['layers']" />
          <ion-label>View</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="login" href="/notes/login">
            <ion-icon :icon="icons['logIn']"></ion-icon>
            <ion-label>Login</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script setup lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import * as icons from 'ionicons/icons';
</script>
