<template>
  <div id="container">
    <ion-list class="myList">
        <ion-item>
            <ion-input label="Topic" labelPlacement="floating" v-model="topic" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Sub Topic" labelPlacement="floating" v-model="subTopic" type="text"></ion-input>
        </ion-item>
        <ion-item class="content">
            <ion-textarea v-model="content" label="Content" labelPlacement="floating" fill="outline" placeholder="Write note"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-button slot="end" shape="round" @click="create()">Take Note</ion-button>
        </ion-item>
    </ion-list>
    <ion-alert
        :isOpen="isOpen"
        :header="Alert"
        :sub-header="AlertMessage"
        :message="message"
        :buttons="alertButtons"
    ></ion-alert>
  </div>
</template>

<script lang="ts">
    import {IonList,IonItem,IonTextarea,IonAlert,IonLabel,IonInput,IonButton} from '@ionic/vue';
    import {ref} from 'vue';
    import {useData} from '../api/db';
    export default{
        data(){
            return{
                isOpen: false,
                alertButtons: ['OK'],
                topic: '',
                subTopic:'',
                content: '',
                Alert:'',
                AlertMessage:'',
                message:''
            }
        },
        methods:{
            create(){
                const {addCollection} = useData();
                addCollection(this.topic,this.subTopic,this.content)
                    .then((res)=>{
                        console.log(res);
                        this.isOpen = !this.isOpen;
                        this.Alert = 'Success';
                        this.AlertMessage = 'Note Created';
                        this.message = 'Note Created Successfully';
                        this.topic = '';
                        this.subTopic = '';
                        this.content = '';
                    })
                    .catch((err)=>{
                        console.log(err);
                        this.isOpen = !this.isOpen;
                        this.Alert = 'Error';
                        this.AlertMessage = 'Note Not Created';
                        this.message = 'Note Creation Failed';
                    })
            },
        },
        components:{
            IonList,
            IonItem,
            IonTextarea,
            IonAlert,
            IonInput,
            IonButton
        }
    }
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.myList {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  padding-top: 20px;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.content{
    padding-top: 25px;
}
</style>

