<template>
  <div id="container">
    <div v-if="!isLoggedIn">
    <ion-list class="myList">
        <ion-item>
            <ion-input label="Email" labelPlacement="floating" v-model="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Password" labelPlacement="floating" v-model="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button slot="end" @click="login" shape="round">Login</ion-button>
        </ion-item>
    </ion-list>
    <p>If you don't have a account, click <router-link to="/notes/register">here</router-link></p>
  <ion-alert
    :isOpen="showAlert"
    :header="alertHeader"
    :subHeader="alertSubHeader"
    :message="alertMessage"
    :buttons="['OK']"
    ></ion-alert>
    </div>
    <div v-else>
        <p>You are logged in</p>
        <ion-button @click="logout" shape="round">Logout</ion-button>
    </div>
  </div>
</template>

<script lang="ts">
    import {IonList, IonItem,IonAlert,IonInput,IonButton,IonPage} from '@ionic/vue';
    import {ref} from 'vue';
    import {useAuth} from '../api/auth.ts'
    export default{
        data(){
            return{
                email: '',
                password: '',
                showAlert: false,
                alertHeader: '',
                alertSubHeader: '',
                alertMessage: '',
                isLoggedIn:false
            }
        },
        mounted(){
            const {isLoggedIn} = useAuth();
            isLoggedIn()
                .then(res=>{
                    this.isLoggedIn = res;
                })
        },
        methods:{
            logout(){
                const {logout} = useAuth();
                logout()
                    .then(res=>{
                        this.isLoggedIn = false;
                    }).catch(err=>{
                        alert(err);
                    })
            },
            login(){
                const {login}  = useAuth();
                if(this.email == '' || this.password == ''){
                    this.showAlert = !this.showAlert;
                    this.alertHeader = 'Error';
                    this.alertSubHeader = 'Empty fields';
                    this.alertMessage = 'Please fill all the fields';
                }else{
                    login(this.email,this.password)
                        .then((res)=>{
                            //console.log(res);
                            this.showAlert = !this.showAlert;
                            this.alertHeader = 'Success';
                            this.alertSubHeader = 'Logged in';
                            this.alertMessage = 'You have been logged in';
                            this.$router.push('/notes/view');
                        })
                        .catch((err)=>{
                            this.showAlert = !this.showAlert;
                            this.alertHeader = 'Error';
                            this.alertSubHeader = 'Enter valid credentials';
                            this.alertMessage = err.message;
                        })
                }
            }
        },  
        components:{
            IonList,
            IonItem,
            IonAlert,
            IonInput,
            IonButton,
            IonPage
        }
    }
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.myList {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  padding-top: 20px;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>
