<template>
  <div id="container">
    <ion-list class="myList">
       <ion-item>
            <ion-input label="Name" labelPlacement="floating" v-model="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Email" labelPlacement="floating" v-model="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Password" labelPlacement="floating" v-model="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button slot="end" @click="register" shape="round">Let's go</ion-button>
        </ion-item>
    </ion-list>
    <p>If you already have an account, <router-link to="/notes/login">login</router-link></p>
  <ion-alert
          :isOpen="showAlert"
          :header="alertHeader"
          :subHeader="alertSubHeader"
          :message="alertMessage"
          :buttons="['OK']"
          ></ion-alert>
  </div>
</template>

<script>
import { IonList, IonItem, IonInput, IonLabel, IonButton,IonAlert } from "@ionic/vue";
import { ref } from "vue";
import {useAuth} from '../api/auth.ts'
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      showAlert: false,
      alertMessage: "",
      alertHeader: "",
      alertSubHeader: "",

    };
  },
  components: {
    IonList,
    IonItem,
    IonInput,
    IonLabel,
    IonButton,
    IonAlert,
  },
  methods: {
      register() {
          const {createAccount} = useAuth();
        if(this.name =="" || this.email =="" || this.password ==""){
            this.alertHeader = "Error";
            this.alertSubHeader = "Empty fields";
            this.alertMessage = "Please fill all the fields";
            this.showAlert = !this.showAlert;
        }else{
            createAccount(this.email, this.password, this.name)
                .then((res) => {
                    this.alertHeader = "Success";
                    this.alertSubHeader = "Account created";
                    this.alertMessage = "You can now login";
                    this.showAlert = !this.showAlert;
                })
                .catch((err) => {
                    this.alertHeader = "Error";
                    this.alertSubHeader = "Account not created";
                    this.alertMessage = err.message;
                    this.showAlert = !this.showAlert;
                });
        }
    },
  },
};
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.myList {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  padding-top: 20px;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>

