<template>
    <div class="container">
        <ion-card class="ionCard" :color="color">
            <ion-card-header>
                <ion-card-title>{{title}}</ion-card-title>
                <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                {{content}}
            </ion-card-content>
        </ion-card>
    </div>
</template>
<script lang="ts" >
    import {IonCard, IonCardContent, IonCardHeader, IonCardSubtitle, IonCardTitle} from '@ionic/vue';
    import {ref} from 'vue';
    export default{
        props:{
            title: String,
            subtitle: String,
            content: String,
            color: String
        },
        components:{
            IonCard,
            IonCardContent,
            IonCardHeader,
            IonCardSubtitle,
            IonCardTitle
        }
    }    
</script>
<style>
#container{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ionCard{
    padding-top:10px;
}
</style>
